* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(15, 23, 42);
  color: rgb(226, 232, 240);
  padding: 20px;

  display: flex;

  justify-content: center;
  align-items: center;

  height: 100vh;
}

. paragraph {
  background: rgba(2, 5, 23, 0.9);
  display: inline-block;
  border-radius: 15px;
  border: 1px solid rgba(34, 197, 94, 1);
  padding: 20px;
  margin-top: 20px;
  font-size: 30px;
  color: rgba(34, 197, 94, 1);

button {
  background: none;
  border: none;
  color: rgba(34, 197, 94, 1);
  font-size: 30px;
}

.beep:hover {
  cursor: pointer;
  background: rgba(2, 5, 23, 0.5);
}

.beep:active {
  transform: scaleX(0.97);
}

.beep {
  display: inline-block;
  background: rgba(2, 5, 23, 0.9);
  padding: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 255, 200, 0.8);
  border: 1px solid rgba(34, 197, 94, 1);
}

#countdown {
  display: flex;
  gap: 20px;
  font-size: 32px;
  background: rgb(2, 6, 23);

  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid rgba(34, 197, 94, 1);

  box-shadow: 0px 0px 20px rgba(0, 255, 200, 0.8);
}


.time-box {
  background: rgb(15, 23, 42);
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(34, 197, 94, 1);

  box-shadow: 0px 0px 15px rgba(0, 255, 200, 0.8);
}

.time-box span {
  display: block;
  font-size: 40px;
  font-weight: bold;
  color: rgb(34, 197, 94);

  perspective: 1000px;
  transform-origin: center;

  animation: glowPulse 1.5 infinite ease-in-out;
}

.time-box p {
  margin-top: 5px;
  font-size: 19px;
  color: rgb(148, 163, 18);
}

h1 {
  position: absolute;
  top: 40px;
  font-size: 32px;
  color: rgb(56, 189, 248);
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.flip {
  animation: flip 0.4s ease;
}

@keyframes glowPulse {
  0% {
    text-shadow: 0px 0px 5px rgba(34, 197, 94, 0.4);
  }
  50% {
    text-shadow: 0px 0px 20px rgba(34, 197, 94, 1);
  }
  100% {
    text-shadow: 0px 0px 5px rgba(34, 197, 94, 0.4);
  }
}

@media (max-width: 600px) {
  #countdown {flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  }

  .time-box {
    width: 80px;
    padding: 10px;
  }

  .time-box span {
    font-size: 28px;
  }

  .time-box p {
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
    top: 20px;
  }
}
